@font-face
{
  font-family: "Open Sans";
  src: url("./fonts/OpenSans/OpenSans-Regular.ttf");
  font-weight: 400;
}

@font-face
{
  font-family: "Open Sans Bold";
  src: url("./fonts/OpenSans/OpenSans-Bold.ttf");
  font-weight: 700;
}

*
{
  font-family: "Open Sans";
}

html,
body
{
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
navbar-brand
{
  font-family: "Open Sans Bold";
}

.td-none
{
  text-decoration: none !important;
}

.location
{
  transition: 0.2s;
  background-color: #f5f5f5;
  margin: 0.1em;
}

a
{
  color: inherit !important;
}

.location:hover
{
  cursor: pointer;
  background-color: #4f996b;
  color: white;
}

.bg-aed
{
  background-image: url("https://free-images.com/lg/aeb6/aed_resuscitation_cardiac_arrest.jpg");
  background-color: #4f996b;
  background-size: cover;
  background-position: center;
}

.hero
{
  height: fit-content;
}

.hero-content > *
{
  text-shadow: #1f1f1f 0 0 0.25em;
}

.ptdklogo
{
  width: 3em;
}

.ptdklogo-footer
{
  width: 100%;
}

/* Mobile */

@media (max-width: 767px)
{
  .ptdklogo-footer
  {
    width: 50%;
  }
}